flexport-jpm-process-flows/src/main/mule/apac/apac-china-vendor-bill-payment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:module-logging="http://www.mulesoft.org/schema/mule/module-logging"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/module-logging http://www.mulesoft.org/schema/mule/module-logging/current/mule-module-logging.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	<flow
		name="create-vendor-bill-payment-apac-china-netsuite-jpm-flow"
		doc:id="c84f8e9e-afe2-4bfb-b1dd-a585568e66b8"
		maxConcurrency="${max.concurrency}">
		<scheduler
			doc:name="APAC-CHINA-bill-payment-ns-jpm-scheduler"
			doc:id="3a636a1d-b8ec-44f9-b734-b90746946f89"
			disallowConcurrentExecution="true">
			<scheduling-strategy>
				<cron expression="${cron.expression.apac.singapore}" />
			</scheduling-strategy>
		</scheduler>
		<module-logging:log-entry
			doc:id="d7733712-6ea4-486b-a5fc-f59aca6e417f"
			message="Searching for save search item"
			source="create-vendor-bill-payment-apac-china-netsuite-jpm-flow"
			doc:name="Searching for save search item"
			messageType="*************  started create-vendor-bill-payment-apac-china-netsuite-jpm-flow   **********" />
		<until-successful maxRetries="${https.retry.attempt}"
			doc:name="Until Successful"
			doc:id="2c9f235c-9420-4025-a4ee-f247d58ecaa2"
			millisBetweenRetries="${https.retry.frequency}">
			<http:request method="GET"
				doc:name="ns-savesearch-apac-china-request"
				doc:id="d0960a39-b419-4f5b-ac29-62f5fe570cfc"
				config-ref="Http_NS__Request" path="${apac.saved.search.path}"
				responseTimeout="${http.response.timeout.netsuite}">
				<http:uri-params><![CDATA[#[output application/java
---
{
	"searchId" : p('ns.apac.china.savedsearchId')
}]]]></http:uri-params>
			</http:request>
		</until-successful>
		<choice doc:name="Choice"
			doc:id="fec190f2-c1e6-4305-bb7a-e8b7062d61db">
			<when expression="!isEmpty(payload)">
				<flow-ref
					doc:name="apac-vendor-bill-payment-netsuite-publish-subflow"
					doc:id="5881894f-4b71-4dee-a1e6-b5e2f744d75b"
					name="apac-vendor-bill-payment-netsuite-china-publish-subflow" />
			</when>
			<otherwise>
				<ee:transform doc:name="Set email body"
					doc:id="9167d019-15f8-4247-a566-3df0129d022d">
					<ee:message>
						<ee:set-payload
							resource="dataweave/apac/china/empty-ns-data.dwl" />
					</ee:message>
				</ee:transform>
				<until-successful
					maxRetries="${https.retry.attempt}" doc:name="Until Successful"
					doc:id="97eb6653-3f3d-4a8d-a4cf-e6bfe5876139"
					millisBetweenRetries="${https.retry.frequency}">
					<http:request method="POST" doc:name="Request"
						doc:id="03fa3437-af5d-402e-a7a3-db41d2d52c67"
						config-ref="PGP_Encrpt_Request" path="${email.path}"/>
				</until-successful>
				<module-logging:log-exit doc:name="Log exit"
					doc:id="8e4b9d94-7eac-4025-b7c3-ce2dabc51d6a"
					message="*********** No Data in SavedSearch *********** "
					source="create-vendor-bill-payment-apac-china-netsuite-jpm-flow" />
			</otherwise>
		</choice>
		<module-logging:log-exit doc:name="Log exit"
			doc:id="4508f71f-fb6a-46f7-af14-097bbb314824"
			messageType="******  create-vendor-bill-payment-apac-china-netsuite-jpm-flow Ended  **********"
			source="create-vendor-bill-payment-apac-china-netsuite-jpm-flow"
			message='#["Message published successfully"]' />
	</flow>
	<sub-flow name="ach-wire-filter-subflow"
		doc:id="9166059b-5083-47cd-95ae-dfef5ebb35db">
		<scatter-gather doc:name="WIRE-ACH"
			doc:id="7e6168d6-02fb-4433-b46c-ec40777d90ed">
			<route>
				<ee:transform doc:name="filter WIRE"
					doc:id="99d40b25-8753-41dd-9f0f-7afc44be06ea">
					<ee:message>
						<ee:set-payload
							resource="dataweave/apac/china/filter-wire.dwl" />
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Global Wire"
					doc:id="fc3251aa-56bb-456d-be2c-344b873e53d1">
					<ee:message>
						<ee:set-payload
							resource="dataweave/apac/china/book-groupby-mapping.dwl" />
					</ee:message>
				</ee:transform>
			</route>
			<route>
				<ee:transform doc:name="filter ACH"
					doc:id="599452d0-5676-4e6d-9e05-61e73f9d1450">
					<ee:message>
						<ee:set-payload
							resource="dataweave/apac/china/ach-filter-mapping.dwl" />
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="ACH"
					doc:id="9c71045e-11c7-412d-85b0-7f63039fbb69">
					<ee:message>
						<ee:set-payload
							resource="dataweave/apac/china/ach-groupby-mapping.dwl" />
					</ee:message>
				</ee:transform>
			</route>
		</scatter-gather>
	</sub-flow>
	<flow name="apac-china-vendor-bill-payment-listner-Flow"
		doc:id="fc50388e-2129-46ab-b3ea-c74ff3ba8ad4" initialState="started">
		<vm:listener doc:name="Listener"
			doc:id="f641924a-6032-4a07-af33-0fe5a3104cb4" config-ref="VM_Config"
			queueName="${vm.queue.china.savedsearch}"
			timeout="${vm.queue.apac.china.publish.timeout}" />
		<module-logging:log-entry
			doc:name="Log entry" doc:id="4cbdbc35-dff1-4d2b-9fba-cac8f9b34202"
			message='#["Message received from the queue"]'
			messageType="************  apac-china-vendor-bill-payment-subscriber-Flow Started ***********"
			source="apac-china-vendor-bill-payment-subscriber-Flow" />
		<set-variable value='#["China"]'
			doc:name="Set source variable"
			doc:id="10d39545-3e93-4d46-a49c-0b75da7bdb54" variableName="source" />
		<flow-ref doc:name="set-common-variable"
			doc:id="995df6e1-82a3-47ae-a5cd-faee00dfaeeb"
			name="set-common-variable" />
		<choice doc:name="check payload?"
			doc:id="fc680d31-7baa-49cf-aa20-c2414c4566f1">
			<when expression="#[!isEmpty(payload)]">
				<try doc:name="Try"
					doc:id="a2f7e8b9-d5ec-4a40-bc7a-7bf1f5f44f3f">
					<flow-ref doc:name="wire-ach-mapping-subflow"
						doc:id="5d89437c-3683-45d7-b787-d4ca2c804a1d"
						name="wire-ach-mapping-subflow" />
					<error-handler>
						<on-error-propagate enableNotifications="true"
							logException="true" doc:name="On Error Propagate"
							doc:id="6d05a018-49c4-4011-9882-9c991e439251">
							<ee:transform doc:name="Set email body" doc:id="3e137b8c-a136-46a9-a8ea-c59db9004dd2" >
								<ee:message >
									<ee:set-payload resource="dataweave/apac/china/mapping-error-email.dwl" />
								</ee:message>
							</ee:transform>
							<until-successful
								maxRetries="${https.retry.attempt}" doc:name="Until Successful"
								doc:id="f202aefc-0ab1-4440-89cc-426358329904"
								millisBetweenRetries="${https.retry.frequency}">
								<http:request method="POST" doc:name="Request"
									doc:id="bfbfa5d1-b26d-4de4-a1e3-46c202bd7d7c"
									config-ref="PGP_Encrpt_Request" path="${email.path}"/>
							</until-successful>
						</on-error-propagate>
					</error-handler>
				</try>
				<flow-ref doc:name="apac-pgp-sftp-ns-update-subflow"
					doc:id="bf439cd0-cbac-4894-af4e-80466c9f69ef"
					name="apac-pgp-sftp-ns-update-subflow" />
				<try doc:name="Try"
					doc:id="1c4984a5-fe35-48e3-8ec9-22fb58996c55">
					<vm:consume doc:name="APAC ACK PSR Consume" doc:id="80675bde-8db5-4966-aeae-f0679a1fb78b" config-ref="VM_Config" queueName="${vm.queue.china.ack.psr}" timeout="${vm.queue.apac.china.consume.timeout}" timeoutUnit="MINUTES"/>
					<error-handler>
						<on-error-propagate enableNotifications="true"
							logException="true" doc:name="On Error Propagate"
							doc:id="d0314bf8-8375-4efa-aa3c-49aae0a2ccc9">
							<module-logging:log-error
								doc:name="Log error"
								doc:id="fced6486-a95f-4748-8997-da85ab986705"
								message="Error While Consuming payload on VM queue. Please use failure-recover-psr-flow/failure-recover-ack-flow for updating records as per PSR or ACK file received accordingly"
								messageType="*******************  VM Consumer ACK/PSR ERROR  *******************"
								source="create-vendor-bill-payment-apac-china-netsuite-jpm-flow" />
							<ee:transform doc:name="Set email"
								doc:id="37d479e1-2b22-407f-88f1-71b10c0df972">
								<ee:message>
									<ee:set-payload
										resource="dataweave/apac/china/email-vm-queue-failure.dwl" />
								</ee:message>
							</ee:transform>
							<until-successful
								maxRetries="${https.retry.attempt}" doc:name="Until Successful"
								doc:id="582746b8-6333-4fd5-ac57-e21bc5447bee"
								millisBetweenRetries="${https.retry.frequency}">
								<http:request method="POST"
									doc:name="Email Request"
									doc:id="0586676b-4c30-4eb5-b732-835f1b0dd9cb"
									config-ref="PGP_Encrpt_Request" path="/email"/>
							</until-successful>
						</on-error-propagate>
					</error-handler>
				</try>
				<flow-ref
					doc:name="apac-update-vendor-bill-payment-status-subflow"
					doc:id="58fc05b6-14f3-4915-a120-441e533cc1cd"
					name="apac-update-vendor-bill-payment-status-subflow" />
			</when>
			<otherwise>
				<module-logging:log-exit doc:name="Log exit"
					doc:id="67a9780b-2e82-4bec-be61-44265cfab15b"
					message="*********** No Data in SavedSearch *********** "
					source="create-vendor-bill-payment-apac-china-netsuite-jpm-flow" />
			</otherwise>
		</choice>
	</flow>
	</mule>