flexport-jpm-process-flows/src/main/mule/apac/apac-singapore-vendor-bill-payment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:module-logging="http://www.mulesoft.org/schema/mule/module-logging"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/module-logging http://www.mulesoft.org/schema/mule/module-logging/current/mule-module-logging.xsd">
	<flow
		name="create-vendor-bill-payment-apac-singapore-netsuite-jpm-flow"
		doc:id="cc872304-102d-4747-940e-f021bdbdb1f1"
		maxConcurrency="${max.concurrency}">
		<scheduler
			doc:name="APAC-SINGAPORE-bill-payment-ns-jpm-scheduler"
			doc:id="9a913e04-2107-4325-b6d4-2baeea227767"
			disallowConcurrentExecution="true">
			<scheduling-strategy>
				<cron expression="${cron.expression.apac.singapore}" />
			</scheduling-strategy>
		</scheduler>
		<module-logging:log-entry
			doc:id="ac851748-9b49-4baf-9cbe-67e5c366e0de"
			message="Searching for save search item"
			source="create-vendor-bill-payment-apac-singapore-netsuite-jpm-flow"
			doc:name="Searching for save search item"
			messageType="*************  started create-vendor-bill-payment-apac-singapore-netsuite-jpm-flow   **********" />
		<until-successful maxRetries="${https.retry.attempt}"
			doc:name="Until Successful"
			doc:id="9bd37a67-c982-41ed-af40-97585613cc41"
			millisBetweenRetries="${https.retry.frequency}">
			<http:request method="GET"
				doc:name="ns-savesearch-apac-singapore-request"
				doc:id="145090b4-1ab2-4a73-91aa-b7c885ec50b8"
				config-ref="Http_NS__Request" path="${apac.saved.search.path}"
				responseTimeout="${http.response.timeout.netsuite}">
				<http:uri-params><![CDATA[#[output application/java
---
{
	"searchId" : p('ns.apac.singapore.savedsearchId')
}]]]></http:uri-params>
			</http:request>
		</until-successful>
		<choice doc:name="Choice"
			doc:id="27eb361a-d71f-4e7f-98fd-e64e6c53be3d">
			<when expression="!isEmpty(payload)">
				<flow-ref
					doc:name="apac-vendor-bill-payment-netsuite-singapore-publish-subflow"
					doc:id="825df848-9678-4dfd-af38-a15b18c44e40"
					name="apac-vendor-bill-payment-netsuite-singapore-publish-subflow" />
			</when>
			<otherwise>
				<ee:transform doc:name="Set email body" doc:id="4c77f8a3-9a0d-4388-9f66-4cc8961eac16">
					<ee:message>
						<ee:set-payload resource="dataweave/apac/singapore/empty-ns-data.dwl" />
					</ee:message>
				</ee:transform>
				<until-successful
					maxRetries="${https.retry.attempt}" doc:name="Until Successful"
					doc:id="19ce7e3e-3852-40f2-b086-63c64736ca6a"
					millisBetweenRetries="${https.retry.frequency}">
					<http:request method="POST" doc:name="Request"
						doc:id="865e113d-3878-4b44-a088-c9f88206d3f4"
						config-ref="PGP_Encrpt_Request" path="${email.path}"/>
				</until-successful>
				<module-logging:log-exit doc:name="Log exit"
					doc:id="bfc32f2d-4bd7-4355-aa12-c6bcc868e1af"
					message="*********** No Data in SavedSearch *********** "
					source="create-vendor-bill-payment-apac-singapore-netsuite-jpm-flow" />
			</otherwise>
		</choice>
		<module-logging:log-exit doc:name="Log exit"
			doc:id="dac50e82-34c3-4ada-8a9b-ecee12a04fc4"
			messageType="******  create-vendor-bill-payment-apac-singapore-netsuite-jpm-flow Ended  **********"
			source="create-vendor-bill-payment-apac-china-netsuite-jpm-flow"
			message='#["Message published successfully"]' />
	</flow>
	<flow name="apac-singapore-vendor-bill-payment-listner-Flow"
		doc:id="de3ac39f-afa9-454a-a082-56e25b00e435" initialState="started">
		<vm:listener doc:name="Listener"
			doc:id="bce3c3b0-336b-46c7-9c53-114279d85f10" config-ref="VM_Config"
			queueName="${vm.queue.singapore.savedsearch}"
			timeout="${vm.queue.apac.singapore.publish.timeout}" />
		<module-logging:log-entry
			doc:name="Log entry" doc:id="995f4ba1-da0b-44da-abf7-98e28ee0566f"
			message='#["Message received from the queue"]'
			messageType="************  apac-singapore-vendor-bill-payment-subscriber-Flow Started ***********"
			source="apac-china-vendor-bill-payment-subscriber-Flow" />
		<set-variable value='#["Singapore"]'
			doc:name="Set source variable"
			doc:id="f2c1e7c4-617c-40da-a504-5a841d3d440a" variableName="source" />
		<flow-ref doc:name="set-common-variable"
			doc:id="10baa383-3b22-4d98-8e53-ee5bd184e247"
			name="set-common-variable" />
		<choice doc:name="check payload?"
			doc:id="156f17a5-5565-422f-8bd7-ca403b7507b0">
			<when expression="#[!isEmpty(payload)]">
				<try doc:name="Try" doc:id="825b32cc-a1ac-4a12-9301-d45aa0054ad2" >
					<flow-ref doc:name="wire-ach-mapping-subflow" doc:id="74416529-7b36-4647-90b6-1076f2f6d040" name="wire-ach-mapping-subflow" />
					<error-handler >
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="39443b3e-736c-4f13-889f-366ca6765c26" >
							<ee:transform doc:name="Set email body" doc:id="3e68d915-0bca-4581-89aa-2475fd166775" >
								<ee:message >
									<ee:set-payload resource="dataweave/apac/singapore/mapping-error-email.dwl" />
								</ee:message>
							</ee:transform>
							<until-successful
								maxRetries="${https.retry.attempt}" doc:name="Until Successful"
								doc:id="e76262ea-38c5-4528-8150-cc4ec6425eb2"
								millisBetweenRetries="${https.retry.frequency}">
								<http:request method="POST" doc:name="Request"
									doc:id="d58bddc2-4590-46bc-9021-50b2d117a2ed"
									config-ref="PGP_Encrpt_Request" path="${email.path}"/>
							</until-successful>
						</on-error-propagate>
					</error-handler>
				</try>
				<flow-ref doc:name="apac-pgp-sftp-ns-update-subflow"
					doc:id="180eaf7c-bebb-437c-a39f-2191788a9134"
					name="apac-pgp-sftp-ns-update-subflow" />
				<try doc:name="Try"
					doc:id="d303c59f-c20e-4e95-a29d-435eab893649">
					<vm:consume doc:name="APAC ACK PSR Consume"
						doc:id="ff0a325d-de0c-4285-866a-67899c28f069"
						config-ref="VM_Config" queueName="${vm.queue.singapore.ack.psr}"
						timeout="${vm.queue.apac.singapore.consume.timeout}"
						timeoutUnit="MINUTES" />
					<error-handler>
						<on-error-propagate enableNotifications="true"
							logException="true" doc:name="On Error Propagate"
							doc:id="59c002c2-5ac7-4efa-9d3b-541380f619c3">
							<module-logging:log-error
								doc:name="Log error"
								doc:id="bd8b6059-a0c3-4373-a62f-4dc8ef51f666"
								message="Error While Consuming payload on VM queue. Please use failure-recover-psr-flow/failure-recover-ack-flow for updating records as per PSR or ACK file received accordingly"
								messageType="*******************  VM Consumer ACK/PSR ERROR  *******************"
								source="create-vendor-bill-payment-apac-china-netsuite-jpm-flow" />
							<ee:transform doc:name="Set email" doc:id="7236d1b3-9723-4173-a7d7-441704204a70" >
								<ee:message >
									<ee:set-payload resource="dataweave/apac/singapore/email-vm-queue-failure.dwl" />
								</ee:message>
							</ee:transform>
							<until-successful
								maxRetries="${https.retry.attempt}" doc:name="Until Successful"
								doc:id="3f983b95-257b-4dd9-b842-8b294972611c"
								millisBetweenRetries="${https.retry.frequency}">
								<http:request method="POST"
									doc:name="Email Request"
									doc:id="2da2a361-f480-4520-b2be-e20f1a76286e"
									config-ref="PGP_Encrpt_Request" path="/email"/>
							</until-successful>
						</on-error-propagate>
					</error-handler>
				</try>
				<flow-ref
					doc:name="apac-update-vendor-bill-payment-status-subflow"
					doc:id="2562fcfc-d961-4f04-94c8-1d344f702f34"
					name="apac-update-vendor-bill-payment-status-subflow" />
			</when>
			<otherwise>
				<module-logging:log-exit doc:name="Log exit"
					doc:id="ecfe8c3a-f49e-4598-8716-b85742951d33"
					message="*********** No Data in SavedSearch *********** "
					source="create-vendor-bill-payment-apac-china-netsuite-jpm-flow" />
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="ach-wire-filter-singapore-subflow"
		doc:id="af4d9e63-7888-470d-8246-a6dec89c89c2">
		<scatter-gather doc:name="WIRE-ACH"
			doc:id="de1962b3-da49-4a9c-b8de-64b558ce653b">
			<route>
				<ee:transform doc:name="filter WIRE" doc:id="f57cceb6-8f73-45a8-873d-04d4d2fe6c9c">
					<ee:message>
						<ee:set-payload resource="dataweave/apac/singapore/filter-wire.dwl" />
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Global WIRE" doc:id="c21bfb7e-8880-44d3-bcb1-f291af859df8" >
					<ee:message >
						<ee:set-payload resource="dataweave/apac/singapore/book-groupby-mapping.dwl" />
					</ee:message>
				</ee:transform>
			</route>
			<route>
				<ee:transform doc:name="filter ACH" doc:id="6d970e1e-a86d-4563-9db4-380fed781602" >
					<ee:message >
						<ee:set-payload resource="dataweave/apac/singapore/ach-filter-mapping.dwl" />
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="ACH" doc:id="efec859e-5042-49e6-9f33-57a0cc98e35f" >
					<ee:message >
						<ee:set-payload resource="dataweave/apac/singapore/ach-groupby-mapping.dwl" />
					</ee:message>
				</ee:transform>
			</route>
		</scatter-gather>
	</sub-flow>
</mule>
	
